[submodule "uwp-fonts"]
	path = uwp-fonts
	url = https://github.com/Microsoft/fonts.git
[submodule "android-fonts"]
	path = android-fonts
	url = https://github.com/google/material-design-icons.git
[submodule "font-awesome-qml"]
	path = font-awesome-qml
	url = https://github.com/QMLCommunity/font-awesome-qml.git
